<header>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg bg-body fixed-top">
    <div class="container-fluid">
      <button
        data-mdb-collapse-init
        class="navbar-toggler"
        type="button"
        data-mdb-target="#navbarExample01"
        aria-controls="navbarExample01"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>

    </div>
  </nav>
  <!-- Navbar -->

  <!-- Jumbotron -->
  <div class="p-5 text-center bg-body-tertiary">
    <h1 class="mb-3">Welcom {{Role.name}} {{User.username}}</h1>
    <h4 class="mb-3">Your Tasks List</h4>
  </div>
  <!-- Jumbotron -->
</header>
<div>
  <div class="list-group"  *ngFor="let task of  Tasks" [routerLink]="['/task-details/',task.id  ]">
  <div  class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{task.title}}</h5>
      <small>   <span  [class]="onColorTaskStatus(enumToString(TaskStatus ,task.taskStatus))">
        {{enumToString(TaskStatus ,task.taskStatus)}}
      </span></small>
    </div>
    <p class="mb-1">{{task.description}}</p>
  </div>
</div>
</div>
